# Maven
/target/

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log
